.row{ 
	text-align: center;
	}

	
#overview {
	background:  rgba(255, 255, 255, 0.8);
	margin: auto;
	text-align: center;
	
	height: 470px;
	width: 900px;
	
	border: 1px solid  white;
	}

p {
	font-weight: 900;
	font-size: 22px;
	}
	
#quote{
	font-style: italic;
	font-weight: 900;
	font-size: 22px;
	}

#me{
	font-weight: 900;
	font-size: 22px;	
	}
